@import "tailwindcss";
 @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
 
} 
@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 8px  ;
  }
}
@keyframes moveDiagonal {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.gorilla {
  animation: moveDiagonal 2s infinite ease-in-out;
}

 